name: CI
on:
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    name: test (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]
    steps:
      - name: actions/setup-java@v3 (JDK ${{ matrix.java }})
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          architecture: x64
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
    
      - name: Execute Gradle build
        run: ./gradlew build

      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-results
          path: build/test-results/**/*.xml

      - name: Upload test report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-report
          path: build/reports/

      - name: Upload checkstyle report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: checkstyle-report
          path: build/checkstyle/*.html
